html, body {
    height: 100%;
    background-color:#484848 !important;  
}

p{
    color: white;
    text-shadow:
    -2px -2px 0 red,
    0   -2px 0 red,
    2px -2px 0 red,
    2px  0   0 red,
    2px  2px 0 red,
    0    2px 0 red,
   -2px  2px 0 red,
   -2px  0   0 red;
    font-size: large;
    font-weight: bold;
}

header .navbar{
    height: 100%;
}

.signupContainer{
    margin: auto;
    text-align: center;
    width: 50%;
    /* Top and Bottom padding = 15px, Left and Right padding = 50px */
    padding: 15px 50px;
    background-color:#707070 !important;
}

.signupForm input{
    display: inline-block;
    margin: 10px;
}

input{
    padding: 10px 10px;
    width: 35%;
}

label{
    border: 3px solid white;
    height:48px;
    width: 35%;;
    background: white;
    cursor: pointer;
    color: black;
    display: block;
    padding: 10px;
    margin: 0px 10px;
}

select{
    height: 48px;
    width: 35%;
}

.signupForm button{
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    width:35%;
}

.loginForm button{
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    width:35%;
}

button{
    height: 48px;
    padding: 5px 5px;
    font-weight: bold;
}

.loginContainer{
    margin: auto;
    text-align: center;
    width: 50%;
    /* Top and Bottom padding = 15px, Left and Right padding = 50px */
    padding: 15px 50px;
    background-color:#707070 !important;
}

.loginForm input{
    display: inline-block;
    margin: 10px;
}

.footer p {
    color: black;
    text-shadow: none;
}

.accountContainer{
    margin: auto;
    text-align: center;
    width: 50%;
    /* Top and Bottom padding = 15px, Left and Right padding = 50px */
    padding: 15px 50px;
    background-color:#707070 !important;
}

.userAction button{
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    width:35%;
}